/* css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:02px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,htmlinput[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],htmlinput[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}html,button,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

div{
	box-sizing: border-box;
}

header, footer{
	display: block;
}

.clear-fix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	background: #fff;
}

.container{
	width:1024px;
	margin: auto;
}

.container-small{
	width:672px;
	margin: auto;
}









/*START HEADER STYLE*/
#header{
	height: 120px;
	background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);
}

#logo{
	background-image: url(../img/logo.png);
	height: 48px;
	width:286px;
	background-repeat: no-repeat;
	margin-top:36px;
	display: inline-block;
	float:left;
}



#top-navbar{
	display: block;
	float: right;

}

#top-navbar > ul li{
	display: inline-block;
	float: left;
	width:108px;
	text-align: center;
	background-repeat: no-repeat;
	background-position:  center 40%;
	
}
#top-navbar > ul li:hover{
	background: linear-gradient(to top, #c9c0c0 0%, #ffffff 100%);	
	box-shadow: inset 0px -3px 0px 0px #ff7d00;
}
#top-navbar > ul a{
	display: block;
	height: 120px;
}

#top-navbar i{
    height: 40px;
    width: 100%;
    font-size:26px;
    margin-top: 40px;
}

/*END HEADER STYLE*/











/*START UPLOAD STYLE*/
#upload{
	margin-top: 42px;
}



#upload-text{
	display: block;
	color: #565555;
	font-family: "Helvetica CE";
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 15px;
}



#image-upload-form input{
  display:none;
}

#browse-file{
  width:445px;
  height:45px;
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 85%, #ffffff 90%, #e2dada 100%);
  border: 1px solid #cacaca;
  display: inline-block;
  float: left;
}


#file-name{
  display:inline-block;
  float:left;
  line-height:43px;
  text-align:center;
  width:318px;
  height: 100%;
  margin-left:10px;
  overflow:hidden;
 
}

#browse-file-button {
  display:inline-block;
  text-align:center;
  line-height:33px;
  float:right;
  height:33px;
  width: 93px;
  background-color: #c1bfbf;
  border-radius:3px;
  cursor: pointer;
  margin: 6px 10px 6px 10px;
  color: #ffffff;
  font-family: "Helvetica Neue LT - Roman";
  font-size: 18px;
  font-weight: 400;
}
#browse-file-button:hover {
	background: #42629e;
    transition: 0.4s;
}

#file-upload-button {
  	margin-left:15px;
    background-image: linear-gradient(to top, #ff6600 0%, #ffa400 100%);
    height:45px;
    width:210px;
    display: inline-block;
    float:left;
    cursor: pointer;
    text-align:center;
    color: #ffffff;
    font-family: "Helvetica CE";
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    border-radius: 3px;
    
}

/*END UPLOAD STYLE*/







/*START IMAGES STYLES*/

#images-gallery{
	margin-top: 76px;
}

.image-box{
	display: inline-block;
	float: left;
	width: 216px;
	height: 280px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
	border: 1px solid rgba(0, 0, 0, 0.16);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(253, 254, 255, 0.1) 5%);
	margin: 20px 20px;
}


.image-box a:hover{
	box-shadow: 0 0 9px 1px #444444;
}

.image-box img{
	display: block;
	width: 100%;
	z-index: 5;
	box-shadow: 0 0 0 1px #444444;
	}


.image-inner{
	display: block;
	margin: 4px 4px 10px 4px;
	position: relative;
	background: #fff;
	z-index: 5;
}

.image-inner:hover:before{
	opacity: 1;

}

.image-inner::before{
	z-index: 2;
    content: "\f00e";
    font-size: 28px;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    float: none;
    display: block;
    transform: translate(-50%, -50%);
    opacity: 0;

}
.image-box-footer{
	margin:0 10px;
}

.image-box-footer span{
	color: #979393;
	font-family: "Helvetica CE";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	overflow: hidden;
	height: 22px;

}
.image-info > a, .image-share >a{
	border-radius: 50%;
}

.image-info{
	padding-bottom: 3px;
	border-bottom: solid 2px #e0dfdf;
	margin-bottom: 5px;
}

.image-info span{
	text-align: center;
    width: 170px;
    float: left;
}
    
.image-info a{
    float: right;
    
}
.image-share span{
	margin-right: 12px;
}
.image-icon{
	box-shadow: inset 1px 1px 2px #808080;
	transition: 0.5s;
	color:#fff;
	background-color: #b1aeae;
	font-size: 15px;
    line-height: 22px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
}

.image-icon:hover{
	transition: 0.3s;
	transform: scale(1.3);
}

.fa-twitter:hover{
background: #53a6da;
}
.fa-facebook-f:hover{
background: #4267B2;
}
.fa-pinterest-p:hover{
background: #c8232c;
}
.fa-tumblr:hover{
background: #4d83ba;
}


.fa-star{
	background: #ff8500;
	box-shadow: none;
}
.fa-star:hover{
	background: #ff5e00;
}
.image-share{
	float: right;
}
/*END IMAGES STYLES*/




/* START PAGINATOR STYLE */
#paginator-inner #active-page,
#paginator-inner #active-page:hover
{
	background:#ff8044;
	cursor: default;
	color:black;
	text-shadow: 1px 1px 0px #444;
}

#paginator-inner{
	float: right;
	margin-right:20px;
}

#paginator-inner a{
	font-size: 24px;
	font-weight: bold;
	font-family: "Arial MT";
	display: inline-block;
	margin:0 2px;
	float: left;
	width:40px;
	height: 40px;
	background: #777;
	color:#fff;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	text-shadow: 1px 1px 0px #000;
}
#paginator-inner a:hover{
	background: #555;
	color:orange;
}
/* END PAGINATOR STYLE */





/*START FOOTER STYLE*/
#footer{
	margin-top: 42px;
	margin-bottom: 50px;
}

#footer-text{
	display: block;
	color: #8b8a8a;
	font-family: "Arial MT";
	font-size: 17px;
	font-weight: 400;
	text-align: right;
}
/*END FOOTER STYLE*/

@media screen and (max-width: 1024px) {
	.container{
		width: 944px;
	}
	.image-box{
		margin:10px 10px;
	}
}


@media screen and (max-width: 950px) {
	.container{
		width: 768px;
	}
	.image-box{
		margin:20px 20px;
	}
}











